.box{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #b480ff;
  margin-left: 0;
}

.start{
  background-color: #ff0000;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
}

.timer{
  font-size: 30px;
  margin-top: 20px;
}

.hz{
  font-size: 20px;
  margin-top: 10px;
}